In [1]:
# importar pandas
import pandas as pd

# Manipula√ß√£o de textos
import textcleaner as tc

# Sentimentos
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Iniciar VADER
VADER = SentimentIntensityAnalyzer()

In [3]:
# Ler e printar dados
Dados = pd.read_csv("Data\Base_Completa.csv", sep=";", index_col="Horario")
Dados

,Tweets,Sentimento,BTC-USD,USD/EUR,Gold_ETF,Oil_ETF,Dow_Jones,S&P500
Horario,,,,,,,,
2022-03-02 15:00:00+00:00,"Good morning, Friends! #motivation #money #fol...",0.8268,-0.010851,0.002108,-0.00515,0.000188,0.006396,0.005519
2022-03-02 15:00:00+00:00,RT @airdropinspect: New airdrop: CryptoLoot (C...,0.8766,-0.010851,0.002108,-0.00515,0.000188,0.006396,0.005519
2022-03-02 15:00:00+00:00,RT @airdropinspect: New airdrop: ChaCha Financ...,0.8503,-0.010851,0.002108,-0.00515,0.000188,0.006396,0.005519
2022-03-02 15:00:00+00:00,RT @LeaPetras: I am selling a ticket for Bitco...,0.4574,-0.010851,0.002108,-0.00515,0.000188,0.006396,0.005519
2022-03-02 15:00:00+00:00,I hope everyone's been accumulating as much #C...,0.6249,-0.010851,0.002108,-0.00515,0.000188,0.006396,0.005519
...,...,...,...,...,...,...,...,...
2022-04-06 02:00:00+00:00,@mckalyn Hi. \nDo you seek financial freedom? ...,0.7941,0.001428,-0.000436,0.00000,0.000000,0.000000,0.000000
2022-04-06 02:00:00+00:00,RT @PoloSpaceTravel: üöÄLatest News: Poloniex wi...,0.0000,0.001428,-0.000436,0.00000,0.000000,0.000000,0.000000
2022-04-06 02:00:00+00:00,RT @airdropinspect: New airdrop: Yield360 (Y36...,0.8766,0.001428,-0.000436,0.00000,0.000000,0.000000,0.000000
2022-04-06 02:00:00+00:00,#Bitcoin ÏõÄÏßÅÏûÑÏùÑ Ïù¥Í≤ÉÎ≥¥Îã§ Îçî Î™ÖÌôïÌïòÍ≤å ÌëúÌòÑÌïúÍ≤å ÏûàÎÇòÏöî? „Öã„Öã„Öã https:...,0.0000,0.001428,-0.000436,0.00000,0.000000,0.000000,0.000000
2022-04-06 02:00:00+00:00,RT @CoinMarketCap: 543 #BTC Seized! U.K. to Ma...,0.0000,0.001428,-0.000436,0.00000,0.000000,0.000000,0.000000

In [4]:
Dados.describe()

,Sentimento,BTC-USD,USD/EUR,Gold_ETF,Oil_ETF,Dow_Jones,S&P500
count,91996.000000,91996.000000,91996.000000,91996.000000,91996.000000,91996.000000,91996.000000
mean,0.247082,-0.000028,0.000065,-0.000003,-0.000110,-0.000017,-0.000005
std,0.412746,0.005631,0.001093,0.002128,0.007591,0.001949,0.002173
min,-0.986300,-0.040160,-0.005767,-0.028040,-0.065356,-0.012855,-0.014630
25%,0.000000,-0.002290,-0.000329,0.000000,0.000000,0.000000,0.000000
50%,0.025800,0.000288,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.585900,0.002451,0.000442,0.000000,0.000000,0.000000,0.000000
max,0.997100,0.046091,0.005426,0.030149,0.068405,0.019013,0.022054

In [5]:
# Adicionar Coluna de Tweets Preprocessados
Tweets_PreProcessados = Dados["Tweets"].apply(tc.main_cleaner)
Dados["Tweets_PreProcessados"] = Tweets_PreProcessados.values
Dados["Tweets_PreProcessados"] = Dados["Tweets_PreProcessados"].str.join(" ")

In [6]:
# Criar Lista com Sentimentos Pr√© processados
Sentimentos_PreProcessados = []
for row in range(Dados.shape[0]):
    Sentimentos_PreProcessados.append(VADER.polarity_scores(Dados["Tweets_PreProcessados"].values[row])["compound"])

Dados["Sentimentos_PreProcessados"] = Sentimentos_PreProcessados

In [11]:
# Transformar o √≠ndice em objeto de datas (DateTime)
Dados.index = pd.to_datetime(Dados.index)
Dados.index

DatetimeIndex(['2022-03-02 15:00:00+00:00', '2022-03-02 15:00:00+00:00',
               '2022-03-02 15:00:00+00:00', '2022-03-02 15:00:00+00:00',
               '2022-03-02 15:00:00+00:00', '2022-03-02 15:00:00+00:00',
               '2022-03-02 15:00:00+00:00', '2022-03-02 15:00:00+00:00',
               '2022-03-02 15:00:00+00:00', '2022-03-02 15:00:00+00:00',
               ...
               '2022-04-06 02:00:00+00:00', '2022-04-06 02:00:00+00:00',
               '2022-04-06 02:00:00+00:00', '2022-04-06 02:00:00+00:00',
               '2022-04-06 02:00:00+00:00', '2022-04-06 02:00:00+00:00',
               '2022-04-06 02:00:00+00:00', '2022-04-06 02:00:00+00:00',
               '2022-04-06 02:00:00+00:00', '2022-04-06 02:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='Horario', length=91996, freq=None)

In [7]:
# Existem dados faltantes?
Dados.isna().sum()

Tweets                        0
Sentimento                    0
BTC-USD                       0
USD/EUR                       0
Gold_ETF                      0
Oil_ETF                       0
Dow_Jones                     0
S&P500                        0
Tweets_PreProcessados         0
Sentimentos_PreProcessados    0
dtype: int64

Grande maior parte dos dados de sentimento est√£o entre 0 e -0,25. Quando se trata de sentimentos positivos, estes tendem a ser mais intensos, com pouca quantidade estando entre 0 e 0,25. Uma interpreta√ß√£o √© que a maior parte das opini√µes emitidas quanto ao bitcoin s√£o levemente c√©ticas, mas aqueles que acreditam no criptoativo s√£o grandes defensores deste.

In [73]:
# Somar os valores de sentimento para uma hora, a fim de se obter o sentimento geral.
# Se o total >0, ent√£o o sentimento naquela hora foi positivo, se n√£o, foi negativo
def Obter_Sentimento_Hora(mes,dia,hora):
    hora = f"0{hora}" if hora <10 else hora
    Agreg_numerico = Dados.loc[f"2022-0{mes}-0{dia} {hora}"]["Sentimentos_PreProcessados"].sum()
    Sentimento = "Positivo" if Agreg_numerico > 0 else "Negativo"
    return Sentimento

# Resultados
Obter_Sentimento_Hora(3, 6, 8)

'Positivo'

In [12]:
# Manter somente dados para 02/Mar at√© 02/Abr
Dados = Dados.loc["2022-03-02":"2022-04-02"]
Dados.index.min(), Dados.index.max()

(Timestamp('2022-03-02 15:00:00+0000', tz='UTC'),
 Timestamp('2022-04-02 22:00:00+0000', tz='UTC'))

In [14]:
# Agrupar retornos por data e hora
btc = Dados.groupby([Dados.index.day, Dados.index.hour])["BTC-USD"].mean()
UsdEur = Dados.groupby([Dados.index.day, Dados.index.hour])["USD/EUR"].mean()
Gold = Dados.groupby([Dados.index.day, Dados.index.hour])["Gold_ETF"].mean()
Oil = Dados.groupby([Dados.index.day, Dados.index.hour])["Oil_ETF"].mean()
Dow_Jones = Dados.groupby([Dados.index.day, Dados.index.hour])["Dow_Jones"].mean()
sp500 = Dados.groupby([Dados.index.day, Dados.index.hour])["S&P500"].mean()

# Agrupar por dia e hora e calcular a soma dos sentimentos para cada substrato de tempo
Sent_Hora = Dados.groupby([Dados.index.day, Dados.index.hour])["Sentimentos_PreProcessados"].sum()

In [17]:
Dados_Agg = pd.concat([btc, UsdEur, Gold, Oil, Dow_Jones, sp500, Sent_Hora], axis="columns")
Dados_Agg

                  BTC-USD   USD/EUR  Gold_ETF   Oil_ETF  Dow_Jones    S&P500  \
Horario Horario
1       0        0.001058  0.000554  0.000000  0.000000   0.000000  0.000000
        1       -0.010287 -0.000443  0.000000  0.000000   0.000000  0.000000
        2       -0.015423  0.000775  0.000000  0.000000   0.000000  0.000000
        3        0.003165 -0.000111  0.000000  0.000000   0.000000  0.000000
        4        0.004069  0.000000  0.000000  0.000000   0.000000  0.000000
...                   ...       ...       ...       ...        ...       ...
31      18       0.001711  0.000998 -0.000913  0.010189  -0.001821 -0.001775
        19      -0.005929  0.000221 -0.002153 -0.003228  -0.007387 -0.008462
        20       0.002691 -0.000332  0.000000  0.000000   0.000000  0.000000
        21       0.000918  0.000221  0.000000  0.000000   0.000000  0.000000
        22      -0.000243 -0.000554  0.000000  0.000000   0.000000  0.000000

                 Sentimentos_PreProcessados
Horario Horario
1       0                           57.0284
        1                           25.6996
        2                           31.6333
        3                           19.8053
        4                           20.9343
...                                     ...
31      18                          96.0580
        19                          90.1268
        20                          71.0084
        21                         129.7472
        22                          89.3656

[713 rows x 7 columns]

In [18]:
# Renomear √≠ndices
Dados_Agg.index.set_names(["Dia", "Hora"], inplace=True)
Dados_Agg

           BTC-USD   USD/EUR  Gold_ETF   Oil_ETF  Dow_Jones    S&P500  \
Dia Hora
1   0     0.001058  0.000554  0.000000  0.000000   0.000000  0.000000
    1    -0.010287 -0.000443  0.000000  0.000000   0.000000  0.000000
    2    -0.015423  0.000775  0.000000  0.000000   0.000000  0.000000
    3     0.003165 -0.000111  0.000000  0.000000   0.000000  0.000000
    4     0.004069  0.000000  0.000000  0.000000   0.000000  0.000000
...            ...       ...       ...       ...        ...       ...
31  18    0.001711  0.000998 -0.000913  0.010189  -0.001821 -0.001775
    19   -0.005929  0.000221 -0.002153 -0.003228  -0.007387 -0.008462
    20    0.002691 -0.000332  0.000000  0.000000   0.000000  0.000000
    21    0.000918  0.000221  0.000000  0.000000   0.000000  0.000000
    22   -0.000243 -0.000554  0.000000  0.000000   0.000000  0.000000

          Sentimentos_PreProcessados
Dia Hora
1   0                        57.0284
    1                        25.6996
    2                        31.6333
    3                        19.8053
    4                        20.9343
...                              ...
31  18                       96.0580
    19                       90.1268
    20                       71.0084
    21                      129.7472
    22                       89.3656

[713 rows x 7 columns]

In [ ]:
# Exportar dataframe com valores agregados
Dados_Agg.to_csv("Data/Dados_Agregados.csv")